body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  color: #333;
  padding: 3rem;
}
.dashboard {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
h1 { text-align: center; color: #e24c0b; }
.panel { margin-bottom: 2rem; }
form { display: flex; flex-direction: column; gap: 10px; }
input, textarea, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  background: linear-gradient(90deg, #e7a92f, #e24c0b);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
#teachingsBtn{
  background: linear-gradient(90deg, #e9e9e9, #0d73e9);
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
button:hover { opacity: 0.9; }
#msg { text-align: center; margin-top: 1rem; color: green; font-weight: 600; }
